.sidenav {
    font-family: 'Poppins', sans-serif;
    font-size: smaller;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 15px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
} 


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    width: 100%;
    height: 100vh;
}


header {
    margin: 0;
    z-index: 0;
    background-color: transparent;
    padding: 15px 0;
   
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 16px; */
}

.logo {
    cursor: pointer;
}

.logo input:focus, .logo input:active {
    outline: none;
}

.logo img {
    height: 50px; 
    margin-left: 50px;
    margin-right: 50px;
}

ul {
    list-style: none;
    display: flex;
    float: right;
    align-content: center;
}

li {
    margin-right: 10px;
}

i {
    font-size: 28px;
}

a {
    text-decoration: none;
    color: #f8f8f8;
    font-weight: bold;
    padding: 16px 16px;
    margin: 3px 10px;
}

a:hover {
    text-decoration: underline;
    color: #d5d5d5; 
}

.header-title {
    font-family: 'Blanka', sans-serif;
    margin-left: 10%;
}

.bg-section {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: lighten;
    text-align: left;
    justify-content: left;
    /* animation: change 20s infinite ease-in-out; */
}

.logo img {
    height: 50px; 
    margin-left: 50px;
    margin-right: 50px;
}

.header-title {
    text-align: center;
    font-family: 'Blanka', sans-serif;
    margin-left: 135px;
    margin-right: 50px;
    font-size: 20px;
}

.abouttext{
    padding: 0px 350px 50px 350px;
}

.tabledes{
    border: 1px none;
    border-collapse: collapse;
    table-layout: fixed;
}

td{
    border: 1px none;
    border-collapse: collapse;
    width: 25%;
}

.teamcontainer{
    background-color: #d1d1d1;
    padding: 50px 10px;
}

.teampic{
    filter: grayscale(100%);
    position: relative;
    height: auto;
    max-width: 100%;
}

/* .scroll{

    ::-webkit-scrollbar {
    width: 10px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
} */

hr{
    color: black;
    background: black;
    height: 5px;
    border: none;
}

ul {
    list-style: none;
    display: flex;
    float: right;
    justify-content: flex-end;
    align-content: center;
}

li {
    margin-right: 10px;
}

i {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #2e323d;
    font-weight: bold;
    padding: 10px;
    margin: 3px 5px;
}

a:hover {
    text-decoration: underline;
    color: #687188; 
}

/* Footer Design start*/
footer{
    margin: 0;
    background: #111;
    height: auto;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
    color: #ffffff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: rgb(129,146,47);
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    text-transform: uppercase;
    word-spacing: 2px;
    
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.column {
    flex: 1;
    margin: 2px;
    padding: 10px;
}

.column:first-child {
    margin-left: 0;
}

.column:first-child {
    margin-left: 0;
}


@media only screen and (max-width: 600px) {
    body {
        padding: 5px;
    }

    .logo img {
        margin-left: 3px;
        margin-right: 3px;
    }

    .teamcontainer {
        padding: 20px 5px;
    }

    .header-title {
        margin-left: 0;
        margin-right: 0;
        font-size: 16px;
    }

    .abouttext {
        padding: 15px 5px;
    }


    @media screen and (max-width: 980px){
        .columns .column{
            margin-bottom: 5px;
            flex-basis: 40%
        }
        .columns .column:last-child{
            flex-basis: 100%;
            margin: 0;
        }
        .columns .column{
            margin-right: 0;
        }
    }
    
    @media screen and (max-width: 680px){
        .columns .column{
            flex-basis: 100%;
            margin: 0 0 5px 0;
        }
    }
    
}