body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    width: 100%;
    height: 100vh;
}


header {
    width: auto;
    margin: 0;
    z-index: 0;
    background-color: transparent;
    padding: 15px 0;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 16px; */
}

.logo {
    cursor: pointer;
}

.logo input:focus, .logo input:active {
    outline: none;
}

.logo img {
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

ul {
    list-style: none;
    display: flex;
    float: right;
    align-content: center;
}

li {
    margin-right: 10px;
}

i {
    font-size: 28px;
}

a {
    text-decoration: none;
    color: #2e323d;
    font-weight: bold;
    padding: 16px 16px;
    margin: 3px 10px;
}

a:hover {
    text-decoration: underline;
    color: #687188;
}

.header-title {
    font-family: 'Blanka', sans-serif;
    margin-left: 10%;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

.prediction-container {
    margin-bottom: 5%;
    margin-left: 20%;
    width: 350px;
    height: 550px;
    background-color: transparent;
    border-color: #53b1b1;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    justify-content: center;
    text-align: center;
    background-position: center;
    position: relative;
    overflow: hidden;
}

#inputImg {
    width: 90%;
    height: auto;
}

.output-container {
    margin-right: 20%;
    margin-bottom: 5%;
    width: 350px;
    height: 550px;
    background-color: #53b1b1;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    justify-content: center;
    text-align: center;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.backbutton {
    margin: 0;
    margin-left: 15%;
    max-width: 50%;
    width: 1.5%;
    height: auto;
    justify-content: space-between;
    display: flex;
    background-color: #b3b7bf;
    color: rgb(94, 94, 94);
    border-radius: 50%;
    padding: 0.5em; 
    cursor: pointer;
}

.backbutton:hover{
    background-color: #ababad;
    opacity: 0.8;
}

.backbutton input:focus, .backbutton input:active {
    outline: none;
}

.snakeName {
    color: #fff;
    margin-bottom: 0%;
    margin-top: 5%;
    margin-right: 30%;
}

.snakesciName {
    font-style: italic;
    color: #d2d2d2;
    margin-bottom: -2%;
    margin-top: 1%;
    margin-left: -40%;
}

.snakeImg {
    z-index: 1;
    width: 85%;
    height: auto;
    margin-top: -10%;
}

.info {
    z-index: 0;
    width: 350px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 0%;
}

.tabs {
    margin-top: 1%;
    font-family: 'Helvetica', sans-serif;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    font-family: sans-serif;
    justify-content: space-evenly;
}

.tabs__label {
    padding: 10px 16px;
    cursor: pointer;
}

.tabs__radio {
    display: none;
}

.tabs__content {
    margin-top: 5%;
    order: 1;
    width: 100%;
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
}

.tabs__radio:checked + .tabs__label {
    color: #53b1b1;
    border-bottom: 2px solid #53b1b1;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
    display: initial;
}

@media only screen and (max-width: 600px) {

    .backbutton {
        display: none;
    }

    .main-container {
        padding: 5px 5px 10px 5px;
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .prediction-container {
        margin-top: 3%;
        width: auto;
        height: auto;
        background-color: transparent;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        justify-content: center;
        text-align: center;
        background-position: center;
        position: relative;
        overflow: hidden;
    }

    .output-container {
        margin-top: 10%;
        margin-bottom: 5%;
        width: auto;
        height: 100%;
        background-color: #53b1b1;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        justify-content: center;
        text-align: center;
        background-position: center;
        position: relative;
        overflow: hidden;
    }

    .info {
        z-index: 0;
        width: auto;
        height: 50%;
        background-color: #fff;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        bottom: 0%;
    }

    .tabs {
        margin-top: 1%;
        width: 100%;
        height: auto;
        font-family: 'Helvetica', sans-serif;
        font-size: small;
        display: flex;
        flex-wrap: wrap;
        font-family: sans-serif;
        justify-content: space-evenly;
        align-items: center;
        align-self: center;
    }

    .tabs__label {
        padding: 10px 16px;
        cursor: pointer;
    }

    .tabs__radio {
        display: none;
    }

    .tabs__content {
        margin-top: 5%;
        order: 1;
        width: 100vw;
        line-height: 1.5;
        font-size: 0.9em;
        display: none;
    }


}

@media only screen and (max-width: 768px) {

    .backbutton {
        display: none;
    }

    .main-container {
        padding: 5px 5px 10px 5px;
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;

    }

    .prediction-container {
        margin-top: 3%;
        width: auto;
        height: auto;
        background-color: transparent;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        justify-content: center;
        text-align: center;
        background-position: center;
        position: relative;
        overflow: hidden;
    }

    .output-container {
        margin-top: 10%;
        margin-bottom: 5%;
        width: auto;
        height: 100%;
        background-color: #53b1b1;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        justify-content: center;
        text-align: center;
        background-position: center;
        position: relative;
        overflow: hidden;
    }

    .info {
        z-index: 0;
        width: auto;
        height: 50%;
        background-color: #fff;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        bottom: 0%;
    }

    .tabs {
        margin-top: 1%;
        width: 100%;
        height: auto;
        font-family: 'Helvetica', sans-serif;
        font-size: small;
        display: flex;
        flex-wrap: wrap;
        font-family: sans-serif;
        justify-content: space-evenly;
        align-items: center;
        align-self: center;
    }

    .tabs__label {
        padding: 10px 16px;
        cursor: pointer;
    }

    .tabs__radio {
        display: none;
    }

    .tabs__content {
        margin-top: 5%;
        order: 1;
        width: 100vw;
        line-height: 1.5;
        font-size: 0.9em;
        display: none;
    }


}


@media only screen and (max-width: 1280px) {

    .header-title {
        font-family: 'Blanka', sans-serif;
        margin-left: 10%;
    }

    .backbutton {
        display: none;
    }

    .main-container {

        width: auto;
        height: auto;
        flex-direction: column;

    }

    .prediction-container {
        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;
        width: 100vw;
        height: auto;
        background-color: transparent;
        border-color: #53b1b1;
        border-style:solid;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        justify-content: center;
        text-align: center;
        background-position: center;
        position: relative;
        overflow: hidden;
    }

    .output-container {
        margin-left: auto;
        margin-top: 10%;
        margin-bottom: 5%;
        width: 100vw;
        height: 200vw;
        background-color: #53b1b1;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        justify-content: center;
        text-align: center;
        background-position: center;
        position: relative;
        overflow: hidden;
    }
    .info {
        z-index: 0;
        width: 100vw;
        height: 100vw;
        background-color: #fff;
        border-radius: 20px;
        justify-content: center;
        text-align: center;
        align-items: center;
        position: absolute;
        bottom: 0%;
    }

    .tabs {
        margin-top: 1%;
        width: 100%;
        height: auto;
        font-family: 'Helvetica', sans-serif;
        font-size: small;
        display: flex;
        flex-wrap: wrap;
        font-family: sans-serif;
        justify-content: space-evenly;
    }


}

/* Footer Design start*/
footer{

    background: #111;
    height: auto;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
    color: #ffffff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: rgb(129,146,47);
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    text-transform: uppercase;
    word-spacing: 2px;

}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.column {
    flex: 1;
    margin: 2px;
    padding: 10px;
}

.column:first-child {
    margin-left: 0;
}

.column:first-child {
    margin-left: 0;
}


@media only screen and (max-width: 600px) {
    body {
        padding: 5px;
    }

    .logo img {
        margin-left: 3px;
        margin-right: 3px;
    }

    .teamcontainer {
        padding: 20px 5px;
    }

    .header-title {
        margin-left: 0;
        margin-right: 0;
        font-size: 16px;
    }

    .abouttext {
        padding: 15px 5px;
    }


    @media screen and (max-width: 980px){
        .columns .column{
            margin-bottom: 5px;
            flex-basis: 40%
        }
        .columns .column:last-child{
            flex-basis: 100%;
            margin: 0;
        }
        .columns .column{
            margin-right: 0;
        }
    }

    @media screen and (max-width: 680px){
        .columns .column{
            flex-basis: 100%;
            margin: 0 0 5px 0;
        }
    }

}
