<!-- Get layout from layout html using jinja syntax -->
{% extends "layout.html" %}

{% block specific_css %}

    <link rel="stylesheet" href="static/style.css">

{% endblock %}


{% block title %}

    Snakedex - Snake Identifier in CALABARZON

{% endblock %}


{% block body %}

    <div id="loading-screen">
        <div class="loader"></div>
        <p style="font-family: 'Poppins', sans-serif;">Predicting...</p>
    </div>

    <div>
        <img class="mainlogo" src="static/Header Logo v3.png" alt="Header Logo">
    </div>
    <div>
        <p class="description">Snake identifier in CALABARZON</p>
    </div>
    
    <div>
        <form id="myForm" method="post" action="/predict" enctype="multipart/form-data">
            <label for="fileInput" class="input-container">
                <i id="uploadIcon" class='bx bx-upload'></i>
                Upload an Image
            </label>
            <input type="file" id="fileInput" name="image" accept=".jpg, .jpeg, .png" style="display: none;" onchange="submitForm()">
        </form>
    </div>

    <!-- handle automatic submit button -->
    <script>
        function submitForm() {
          // Automatically submits after uploading the file
          document.getElementById('myForm').submit();
          showLoadingScreen();
        }

        function showLoadingScreen() {
            const loadingScreen = document.getElementById('loading-screen');
            loadingScreen.style.display = 'flex';
        }
    </script>

    <!-- Display info -->
    <div class="info">
        <b style="font-size: 20px;">SNAKEDEX</b> uses machine learning to provide the best match for the snakes in your photo in 25 different snake species in CALABARZON region in the Philippines. <br><br>
        Upload an image that you want to identify and we will provide the results. <br><br><br>
    </div>

    
{% endblock %}