{% extends "layout.html" %}

{% block specific_css %}

    <link rel="stylesheet" href="static/style.css">

{% endblock %}


{% block title %}

    Snakedex - Snake Identifier in CALABARZON

{% endblock %}


{% block body %}



    <div>
        <img class="mainlogo" src="static/Header Logo v3.png" alt="Header Logo">
    </div>
    <div>
        <p class="description">Snake identifier in CALABARZON</p>
    </div>
    
    <div>
        <form id="myForm" method="post" action="/predict" enctype="multipart/form-data">
            <label for="fileInput" class="input-container">
                <i id="uploadIcon" class='bx bx-upload'></i>
                Upload an Image
            </label>
            <input type="file" id="fileInput" name="file" style="display: none;" onchange="submitForm()">
        </form>
    </div>

    <script>
        function submitForm() {
          // Automatically submits after uploading the file
          document.getElementById('myForm').submit();
        }
    </script>


    
{% endblock %}