<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block specific_css %}{% endblock %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/blanka" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    <div class="bg-section">
        <header>
            <nav>
                <div class="logo">
                    <img src="static/Snakedex Logo.png" alt="Website Logo">
                </div>
                {% block content %}{% endblock %}
                <ul>
                    <li><a href="/">
                        <i class='bx bx-home bx-sm'></i>
                    </a></li>
                    <li><a href="#menu">
                        <i class='bx bx-menu bx-sm' ></i>
                    </a></li>       
                </ul>
            </nav>
        </header>
        
        {% block body %}{% endblock %}

    </div>


</body>
</html>